* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}


/* 导航栏部分 */
header {
  background-color: #ccc;
  color: #595656;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo>img {
  height: 26px;
  vertical-align: middle;
}

ul {
  display: flex;
}

ul>li {
  padding: 0 .5em;
  cursor: pointer;
}


/* 主体部分 */
section {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 500px;
  display: flex;
}

aside {
  background-color: #999;
  flex: 1;
}

main {
  background-color: #ccc;
  flex: 2;
}

.ad {
  flex: 1;
  background-color: #666;
}


.imageList {

  width: 1200px;
  margin: 30px auto 0;
  outline: 1px solid blue;
}

.imageList>.x {
  display: flex;
  flex-wrap: wrap;
  margin-right: -28px;
}

.imageList .image {
  border: 1px solid red;
  background-color: #666;
  margin-right: 28px;
  margin-bottom: 20px;
  height: 279px;
  width: 279px;
}


footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 200px;
  margin: 30px auto 0;
}

.left {
  background-color: #999;
  flex: 1;
  margin-right: 220px;
}

.right {
  background-color: #333;
  flex: 2;
}